/* 1. Inheritance: targe body for font family and 18px font size */
body { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* 2. Select Multiple elements: header and footer with the same background color */
header, footer {
    background-color: #f4f4f4;
    padding: 1rem;
}

/* 3. Class Selector: site-title to change text color */
.site-title {
    color: #2c3e50;
}

/* 4. Id selector: my-image with 0 horiz/vert placement. 2px blur, 1px spread, blcak color*/
#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

/* 5. Replace list bullets with squares */
.hobby-list {
    list-style-type: square;
} 

/* 6. nth-child selector: background on odd list items in hobby list */
.hobby-list li:nth-child(odd) {
    background-color: #e9ecef;
}

/* 7. Styling the Navigation */
/* Remove bullets from nav ul */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
} 